doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Liste des Utilisateurs
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      function fillForm(user) {
        var filteredUser = {
          idUser: user.idUser,
          mail: user.mail,
          accountVerified: user.accountVerified,
          username: user.username,
          isAdmin: user.isAdmin
        };
        document.getElementById('idUser').value = filteredUser.idUser;
        document.getElementById('userMail').value = filteredUser.mail;
        document.getElementById('userVerified').value = filteredUser.accountVerified;
        document.getElementById('userName').value = filteredUser.username;
        document.getElementById('userIsAdmin').value = filteredUser.isAdmin;
      }
  body
    nav.navbar
        // Left
        a.logo(href='/')
            img(src='/logos/Full_Logo_Horizontal.png',alt="Website logo",width='310', height='75')

        // Right
        ul.nav-links
          li
            a(href='/challenges') Challenges
          li
            a(href='/scoreboard') ScoreBoard
          li
            a(href='/myprofile') My Profile
          li
            a(href='/disconnect') Disconnection
    #background-element 
      h1 Liste des Utilisateurs

      table
        thead
          tr
            th ID
            th Email
            th Account Verified
            th Username
            th Is Admin
        tbody
          each user in users
            tr(onclick='fillForm(#{JSON.stringify(user)})')
              td #{user.idUser}
              td #{user.mail}
              td #{user.accountVerified}
              td #{user.username}
              td #{user.isAdmin}

      form(id='userForm', action='/admin', method='POST')
        fieldset
          legend Informations Utilisateur
            input(type='hidden', id='idUser', name='userId')       
          div(class='user-info')
            label(for='userMail') Email
            input(type='text', id='userMail', name ='userMail', placeholder='Email')
          div(class='user-info')
            label(for='userVerified') Account Verified
            input(type='number', id='userVerified', name='userVerified' placeholder='Account Verified')
          div(class='user-info')
            label(for='userName') Username
            input(type='text', id='userName', name = 'userName', placeholder='Username')
          div(class='user-info')
            label(for='userIsAdmin') Is Admin
            input(type='number', id='userIsAdmin', name ='userIsAdmin' placeholder='Is Admin')
          div(class='user-info')
                button(type='submit', name='action', value='update') Modifier
                button(type='submit', name='action', value='delete') Supprimer
  script(src="/javascripts/vantaThree.js")
  script(src="/javascripts/vantaNet.js")
  script(src="/javascripts/background-element.js")
