doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Liste des Challenges
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar
        // Left
        a.logo(href='/') Site's logo

        // Right
        ul.nav-links
          li
            a(href='/connect') Connection
          li
            a(href='/challenges') Challenges
          li
            a(href='/scoreboard') ScoreBoard
          li
            a(href='/myprofile') My Profile
          li
            a(href='/disconnect') Disconnection
            
    h1 Liste des Challenges

    table
      thead
        tr
          th ID
          th Title
          th Category
          th Description
          th Flag
          th Difficulty
          th URL
      tbody
        each challenge in challenges
          tr(onclick='fillForm(#{JSON.stringify(challenge)})')
            td #{challenge.idChallenge}
            td #{challenge.titleChallenge}
            td #{challenge.itsCategory}
            td #{challenge.descriptionChallenge}
            td #{challenge.flag}
            td #{challenge.itsDifficulty}
            td #{challenge.URL}

