doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Liste des Challenges
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar
        // Left
        a.logo(href='/')
            img(src='/logos/Full_Logo_Horizontal.png',alt="Website logo",width='310', height='75')

        // Right
        ul.nav-links
          li
            a(href='/challenges') Challenges
          li
            a(href='/scoreboard') ScoreBoard
          li
            a(href='/myprofile') My Profile
          li
            a(href='/disconnect') Disconnection
    #background-element  
      h1 Liste des Challenges

      table
        thead
          tr
            th ID
            th Title
            th Category
            th Description
            th Flag
            th Difficulty
            th URL
        tbody
          each challenge in challenges
            tr(onclick='fillForm(#{JSON.stringify(challenge)})')
              td #{challenge.idChallenge}
              td #{challenge.titleChallenge}
              td #{challenge.itsCategory}
              td #{challenge.descriptionChallenge}
              td #{challenge.flag}
              td #{challenge.itsDifficulty}
              td #{challenge.URL}
  script(src="/javascripts/vantaThree.js")
  script(src="/javascripts/vantaNet.js")
  script(src="/javascripts/background-element.js")


