doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css')

body
  block content
    div.challenges-container
      h1.vertical-space= challenge.titleChallenge

      // Niveau de difficulté
      p.vertical-space Difficulté: #{challenge.itsDifficulty}

      // Description
      p.vertical-space Description: #{challenge.descriptionChallenge}

      // Lien pour télécharger le fichier du drapeau
      a.vertical-space(href='/challenges/' + challenge.idChallenge + '/flag.txt', download='flag.txt') Download Flag File

      // Formulaire pour soumettre le flag
      form.vertical-space(action='/challenges/#{challenge.idChallenge}/submitFlag', method='post')
        label(for='flagInput') Enter Flag:
        input(type='text', name='flagInput', id='flagInput', required)
        button(type='submit') Submit Flag