doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css')

  body
    nav.navbar
        // Left
        a.logo(href='/')
            img(src='/logos/Full_Logo_Horizontal.png',alt="Website logo",width='310', height='75')

        // Right
        ul.nav-links
          li
            a(href='/') Challenges
          li
            a(href='/scoreboard') Scoreboard
          li
            a(href='/myprofile') Mon compte
          li
            a(href='/disconnect') Déconnexion
            
    block content
      #background-element
        div.challenge-container
          section.table__header
            h1= challenge.titleChallenge
            form(id="loginForm", action='/challenge/#{challenge.idChallenge}', method='post')
              label(for='flagInput') 
              .input-group
                input(type='text', name='flagInput', id='flagInput', placeholder='Entrer le flag ici...',required)
                img(src='/images/flag.png', alt='')
              button.sendFlag-button(type='submit', hidden) Valider

          section.table__body
            p.challenge-description #{challenge.descriptionChallenge}
            table
              tr
                td Difficulté:
                td #{challenge.itsDifficultyString}
              if challenge.connection
                tr
                  td Connexion:
                  td
                    a(href=challenge.connection) #{challenge.connection}
              tr
                td Récompense :
                td #{challenge.reward}
              tr
                td Nombre d'essais :
                td #{retryCount}
              if isFlagged
                tr
                  td Résolu le :
                  td #{isFlagged.flagged}

            // Boîte modale pour afficher le résultat
            #resultModal.modal
              .modal-content
                div#resultMessage
                  if success
                    p.challenge-success #{success}
                    if obtentions
                      if obtentions.length > 0
                        p.challenge-success Vous avez obtenue le(s) badges suivants :
                          each element in obtentions
                            p.challenge-success #{element}
                  if failed
                    p.challenge-failed #{failed}

          div.challenge-history-container
            section.table__header
              h3 Historique
            // Tableau des réussites
            section.table__body
                table.table-successful-users
                  thead
                    tr
                      th Utilisateur
                      th Rang
                      th Date
                  if successUsers
                    if (successUsers.length > 0)
                      tbody
                        each user in successUsers
                          tr(onclick='redirectToUser('+user.idUser+')')
                            td
                              a(href=`/user/${user.idUser}`)= user.username
                            td= user.rank
                            td= user.flagged
    script.
      function redirectToUser(id) {
        window.location.href = "/user/"+id;
      }

    script(src="/javascripts/vantaThree.js")
    script(src="/javascripts/vantaNet.js")
    script(src="/javascripts/background-element.js")