doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    nav.navbar
        // Left
        a.logo(href='/')
            img(src='/logos/Full_Logo_Horizontal.png',alt="Website logo",width='310', height='75')

        // Right
        ul.nav-links
          li
            a(href='/challenges') Challenges
          li
            a(href='/scoreboard') ScoreBoard
          li
            a(href='/disconnect') Disconnect
            
    block content
      #background-element
        h2 Bienvenue sur votre profil, #{user.username}!

        if message
          p= message

        // Formulaire de modification des informations
        form(action='/myprofile', method='post', class='profile-form')
          label(for='newUsername') Nom d'utilisateur :
          input(type='text', id='newUsername', name='newUsername', value=user.username, class='form-control')
          br

          label(for='newEmail') Email :
          input(type='email', id='newEmail', name='newEmail', value=user.mail, class='form-control')
          br

          input(type='submit', value='Mettre à jour', class='btn-submit')

        p= error
  script(src="/javascripts/vantaThree.js")
  script(src="/javascripts/vantaNet.js")
  script(src="/javascripts/background-element.js")

