doctype html
html
  head
    title= title


  body
    nav.navbar
        // Left
        a.logo(href='/')
            img(src='/logos/Full_Logo_Horizontal.png',alt="Website logo",width='310', height='75')

        // Right
        ul.nav-links
          li
            a(href='/challenges') Challenges
          li
            a(href='/myprofile') My Profile
          li
            a(href='/disconnect') Disconnect
            
    block content
      h1 Tableau des scores

      table
        tr
          th Classement
          th Utilisateur
          th Points

        each user, index in users
          if index < 3
            tr(id='podium-' + (index + 1))
              td= user.rank
              td
                a(href='/user/' + user.idUser)= user.username
              td= user.score
          else
            if user.rank %2 == 0
              tr(id='scoreboard-odd')
                td= user.rank
                td
                  a(href='/user/' + user.idUser)= user.username
                td= user.score
            else 
              tr(id='scoreboard-even')
                td= user.rank
                td
                  a(href='/user/' + user.idUser)= user.username
                td= user.score
