doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
    nav.navbar
        // Left
        a.logo(href='/')
            img(src='/logos/Full_Logo_Horizontal.png',alt="Website logo",width='310', height='75')

        // Right
        ul.nav-links
          li
            a(href='/') Challenges
          li
            a(href='/scoreboard') Scoreboard
          li
            a(href='/myprofile') Mon compte
          li
            a(href='/disconnect') Déconnexion

    #background-element
      block content
        div.scoreboard-container
          h1 Tableau des scores

          table.table-scoreboard
            tr
              th Classement
              th Utilisateur
              th Points

            each user, index in users
              //if user.score > 0
              if index < 3
                tr(id='podium-' + (index + 1))
                  td= user.rank
                  td
                    a.username-link(href='/user/' + user.idUser)= user.username
                  td= user.score
              else
                if user.rank %2 == 0
                  tr(id='scoreboard-odd')
                    td= user.rank
                    td
                      a.username-link(href='/user/' + user.idUser)= user.username
                    td= user.score
                else 
                  tr(id='scoreboard-even')
                    td= user.rank
                    td
                      a.username-link(href='/user/' + user.idUser)= user.username
                    td= user.score

    script(src="/javascripts/vantaThree.js")
    script(src="/javascripts/vantaNet.js")
    script(src="/javascripts/background-element.js")